<div class="row" id="main-row">
    <div class="center-block text-center col-xl-12">
        <div class="center-block text-center panel panel-default" id="main-panel">
            <div style="margin: 25px;">
                <mat-tab-group>
                    <mat-tab label="Пользователи">
                        <div class="d-flex flex-wrap justify-content-start">
                            <div class="p-2 flex-list-with-users">
                                <mat-card class="mat-card-user">
                                    <mat-card-header>
                                        <h2 class="user-text-h2">Пользователи</h2>
                                    </mat-card-header>
                                    <mat-card-content style="margin-top:15px;">
                                       
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="p-2 flex-list-with-users" *ngIf="IsUserEding">
                                <mat-card class="mat-card-user">
                                    <mat-card-header>
                                        <h2 class="user-text-h2">Редактирование параметров
                                            пользователя</h2>
                                    </mat-card-header>
                                    <mat-card-content style="margin-top:15px;">
                                       
                                    </mat-card-content>

                                </mat-card>
                            </div>
                            <div class="p-2 flex-list-with-users">
                                <mat-card class="mat-card-user">
                                    <mat-card-header>
                                        <h2 class="user-text-h2">Регистрация нового пользователя</h2>
                                    </mat-card-header>
                                    <mat-card-content style="margin-top:15px;">
                                      
                                    </mat-card-content>

                                </mat-card>
                            </div>
                            <!-- <button mat-button (click)="GetSqlMetrics()">SqlMetrics</button> -->
                        </div>
                    </mat-tab>
                    <mat-tab label="Лист e-mail рассылки">
                        <div class="d-flex flex-wrap justify-content-start">
                            <div class="p-2 flex-list-with-email-list">
                                <mat-card class="mat-card-email-list">
                                    <mat-card-header>
                                        <h2 class="user-text-h2">Регистрация нового пользователя</h2>
                                    </mat-card-header>
                                    <mat-card-content style="margin-top:15px;">
                                       
                                    </mat-card-content>
                                </mat-card>

                            </div>
                            <div class="p-2 flex-list-with-email-list">
                                <mat-card class="mat-card-email-list">
                                    <mat-card-header>
                                        <h2 class="user-text-h2">Пользователи для расылки</h2>
                                    </mat-card-header>
                                    <mat-card-content style="margin-top:15px;">
                                        
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Что-то еще">
                        Что-то еще
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>


